body {
    padding-top: 80px;
}

/*
 * Globals
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: Microsoft YaHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/*blog list title*/
.blog-title a {
    text-decoration: none;
}

.blog-title a:link {
    color: black;
}

.blog-title a:visited {
    color: black;
}

.blog-title a:hover {
    color: black;
    text-decoration: none;
}

.blog-title a:active {
    color: black;
}

/*blog list date*/
.blog-date {
    color: gray;
    margin-top: 5px;
}

/*blog list summary*/
.blog-summary {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

/*blog list views favourite*/
.list-inline li, a {
    color: gray;
}

/*blog list comment*/
.list-inline a {
    text-decoration: none;
}

.list-inline a:link {
    color: gray;
}

.list-inline a:visited {
    color: gray;
}

.list-inline a:hover {
    color: gray;
    text-decoration: none;
}

.list-inline a:active {
    color: gray;
}

.blog-detail-ul {
    margin-top: 10px;
}

.blog-detail-ul > li {
    font-size: 14px;
    color: gray;
}

.blog-edit-btn {
    border-radius: 25px;
    color: gray;
}

.blog-favourite-btn {
    border-radius: 25px;
    border-color: #FF6347;
    color: white;
    background-color: #FF6347;
}

.blog-favourite-btn:hover {
    color: white;
    text-decoration: none;
}

.blog-unfavourite-btn {
    border-radius: 25px;
    border-color: #FF6347;
    color: #FF6347;
    background-color: white;
}

.blog-unfavourite-btn:hover {
    color: #FF6347;
    text-decoration: none;
}

.blog-commit-title {
    margin-top: 25px;
}

.blog-commit-area {
    resize: none;
    background-color: #f9f9f9;
    border-color: #dddddd;
    box-shadow: none;
}

.blog-commit-area:focus {
    box-shadow: none;
    border-color: #dddddd;
}

.blog-commit-btn {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-label {
    padding: 3px 6px 3px 6px;
    font-size: 14px;
}

/*
 * Pagination Nav
 */
.pagination {
    display: inline-block;
}

.pagination-index {
    text-align: center;
}

.pagination-manage {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -20px;
}

.pagination-comment {
    text-align: center;
    margin-bottom: -20px;
    margin-top: 10px;
}

/*
 * Footer
 */

.blog-footer {
    margin-top: 20px;
    padding: 40px;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;

}

.blog-footer p {
    font-size: 14px;
}

/*
 * href
 */
.blog-read a {
    text-decoration: none;
}

.blog-meta a {
    text-decoration: none;
}

.list-unstyled a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}

/*
 * Sidebar navigation
 */

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
    background-color: #f5f5f5;
    margin-top: 35px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.sidebar {
    top: 51px;
    margin-top: -80px;
    padding-right: 20px;
    margin-right: 20px;
    text-align: right;

}

.table-responsive {
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.table-striped th {
    text-align: center;
}

.table-striped .th-left {
    text-align: left;
}

.page-header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.main {
    top: 51px;
    margin-top: -80px;
    padding-right: 20px;
    margin-right: 20px;
    text-align: center;
}

/*
 *  Comment
 */
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

div.comment-date {
    color: gray;
    font-size: 12px;
}

div.comment-user {
    font-size: 16px;
}

div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}

div.comment-form {
    margin: 16px 25px 16px 10px;
}

.comment-logout {
    text-align: center;
}

.comment-logout a {
    color: #428bca;
    text-decoration: none;
}

.comment-edit-btn {
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    font-size: 10px;
}

/*
 *  About me
 */
.github {
    width: 6%;
    height: 6%;
}