{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ blog.title }}{% endblock %}
{% block page_content %}
<div class="col-md-8 col-md-offset-2">
    <h1>{{ blog.title }}</h1>

    <div class="row">
        <div class="col-md-10">
            {% include "_labels.html" %}
            <ul class="list-inline blog-detail-ul">
                <li>{{ moment(blog.publish_date).format('YYYY年MM月DD日 HH:mm') }}</li>
                <li>阅读&nbsp{{ blog.views }}</li>
                <li>评论&nbsp{{ blog.comments.count() }}</li>
                <li>喜欢&nbsp{{ blog.favourites.count() }}</li>
            </ul>
        </div>
        <div class="col-md-2">
            {% if current_user.is_administrator() %}
            <a class="btn btn-default blog-edit-btn"
               href="{{ url_for('main.edit_blog', id=blog.id, type='edit') }}" role="button">编辑文章</a>
            {%endif %}
        </div>
    </div>

    <p>
        {% if blog.content_html %}
        {{ blog.content_html | safe }}
        {% else %}
        {{ blog.content }}
        {% endif %}
    </p>

    {% if current_user.is_authenticated %}
    {% if blog.is_current_user_favourite() %}
    <a class="btn blog-favourite-btn" href="{{ url_for('manage.cancel_favourite_blog', id=blog.id) }}"
       role="button">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp喜欢
    </a>
    {% else %}
    <a class="btn blog-unfavourite-btn" href="{{ url_for('manage.favourite_blog', id=blog.id) }}"
       role="button">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp喜欢
    </a>
    {% endif %}
    {% endif %}
</div>

{% include "_comments.html" %}

{% endblock %}