{% extends "bootstrap/base.html" %}

{% block title %}{% block page_title %}{% endblock %}-NiceBlog{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='niceblog.ico') }}" type="image/x-icon"/>
    <link rel="icon" href="{{ url_for('static', filename='niceblog.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='my_style.css') }}" type="text/css"/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
{% endblock %}