{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}{% if type == 'create' %}写文章{% elif type == 'edit' %}编辑文章{% endif %}{% endblock %}
{% block create_blog_content %}
<div>
    <form method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group text-right">
                    {{ form.publish(class="btn btn-primary") }}
                    {% if type=="create" %}
                    {{ form.save(class="btn btn-default") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.title(class="form-control", placeholder=form.title.label.text) }}
                </div>
                <div class="form-group">
                    {{ form.labels(class="form-control", placeholder=form.labels.label.text) }}
                </div>

                <div class="form-group">
                    {{ form.summary(class="form-control", placeholder=form.summary.label.text, rows=6) }}
                </div>

                <div class="form-group">
                    {{ form.content(only_input=True, class="input-markdown,
                    form-control",placeholder=form.content.label.text, rows=40) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="class= form-group">
                    <h2>{{ form.title.data }}</h2>
                    <hr>
                    {{ form.content(only_preview=True) }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}