{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}NiceBlog{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-7 col-md-offset-1">
        {% if not blogs %}
        <h3>还没有文章哦</h3>
        {% else %}
        {% for blog in blogs %}
        <h3 class="blog-title">
            <a href="{{ url_for('main.blog', id=blog.id) }}" target="_blank">{{ blog.title }}</a>
        </h3>
        {% include "_labels.html" %}
        <div class="blog-date">{{ moment(blog.publish_date).format('YYYY年MM月DD日 HH:mm') }}</div>
        <p class=" blog-summary">
            {{ blog.summary }}
        </p>
        <ol class="list-inline">
            <li>
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ blog.views }}
            </li>
            <li>
                <a href="{{ url_for('main.blog', id=blog.id, _anchor='comments') }}" target="_blank">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{
                    blog.comments.count() }}
                </a>
            </li>
            <li>
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ blog.favourites.count() }}
            </li>
        </ol>
        <hr>
        {% endfor %}
        {% if pagination %}
        <div class="pagination-index">
            {% if label_name %}
            {{ macros.pagination_widget(pagination, 'main.index', label_name=label_name) }}
            {% else %}
            {{ macros.pagination_widget(pagination, 'main.index') }}
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>

    <div class="col-md-3 col-md-offset-1">
        <h3>Othershe的个人博客</h3>
        <hr>
        <h4><b>关于我</b></h4>
        <ol class="list-unstyled main-sidebar">
            <li><a href="https://github.com/Othershe" target="_blank">
                <img src="{{ url_for('static', filename='github.ico') }}">&nbsp;GitHub</a>
            </li>
            <li><a href="https://www.jianshu.com/u/4235f2b5b350" target="_blank">
                <img src="{{ url_for('static', filename='jianshu.ico') }}">&nbsp;简书</a>
            </li>
            <li><a href="https://weibo.com/shehuan320" target="_blank">
                <img src="{{ url_for('static', filename='weibo.ico') }}">&nbsp;微博</a>
            </li>
        </ol>
        <div class="main-sidebar-label-title">
            <h4><b>文章分类</b></h4>
        </div>
        <ul class="list-unstyled main-sidebar">
            <li><a href="{{ url_for('main.index') }}">全部</a></li>
            {% for label in labels %}
            <li><a href="{{ url_for('main.index', label_name=label.name) }}">{{ label.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}